.nongshimbox{
  position: relative;
  box-sizing: border-box;
  width: 665px;
  height: 204px;
  padding: 60px 30px 60px 50px;
}
.nongshimbox .line-1 , .nongshimbox .line-2{
  position: absolute;
  display: block;
}
.nongshimbox .line-1{
  left: 20px;
  top: 20px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
}
.nongshimbox .line-2{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.nongshimbox .line-1:before , .nongshimbox .line-1:after,
.nongshimbox .line-2:before , .nongshimbox .line-2:after{
  content: '';
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
}
.nongshimbox .line-1:before{
  left: 'auto';
  right:0;
  width:0;
  height:1px;
  transition: width 250ms 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.nongshimbox .line-1:after{
  top:'auto';
  height:0;
  width:1px;
  transition: height 100ms 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nongshimbox .line-2:before{
  right: 'auto'; 
  left:0;
  bottom: 0;
  width:0%;
  height:2px;
  transition: width 300ms 700ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.nongshimbox .line-2:after{
  right:0;

  top:'auto';
  bottom: 0;
  width:2px;
  height:0;
  transition: height 150ms 1000ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
#header.active .line-2:before{
  width:100%;
}
#header.active .line-2:after{
  height:100%;
}
#header.active .line-1:before{
  width:100%;
}
#header.active .line-1:after{
  height:100%;
}
#header.active h2{
  opacity: 1;
  transform: translateY(0);
}
#header.active .titeldesc{
  opacity: 1;
  transform: translateY(0);
}
#header.active .circle{
  opacity: 1;
}
#header {
  position: relative;
  height: 670px;
  background: url(../img/main.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header img {
  width: 100%;
}

#header h2 {
  display: block;
  font-size: 65px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 350ms 150ms ease-in-out, transform 350ms 150ms ease-in-out;
}

#header .titeldesc{
  /* margin-top: 50px; */
  line-height: 1.75em;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 380ms 900ms ease-in-out, transform 380ms 900ms ease-in-out;
}
.circle{
 position: absolute;
  left: 50%;
  top:14px;
  width:13px;
  height: 13px;
  opacity: 0;
  border-radius: 50%;
  background:#96c11f;
  transition: opacity 0.5s 1.3s;
}
#header .btn-quick {
  position: absolute;
  bottom: 0;
}

#header .btn-quick a {
  position: absolute;
  left: 50%;
  bottom: 25px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #96c11f;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#header .btn-quick a img {
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 10px;
  margin-left: 10px;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.cont-header {
  margin-top: 30px;
  margin-bottom: 55px;
}

.cont-header .container {
  position: relative;
}

.cont-header .container .title {
  padding-top: 40px;
  font-size: 36px;
  font-weight: 600;
}

.cont-header .container .title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  background: #96c11f;
  border-radius: 50%;
}

.cont-header .container .btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  display: inline-block;
  border: 1px solid #000;
  padding: 9px 20px;
  font-size: 15px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cont-header .container .btn:hover {
  color: #fff;
  background: #000;
}

.banner01 {
  background: url(../img/img01.png);
  width: 100%;
  height: 520px;
  margin-bottom: 100px;
}

.banner01 .container {
  height: 100%;
}

.banner01 .container ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner01 .container ul li {
  min-width: 175px;
  padding: 16px 10px 12px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

body {
  word-break: keep-all;
}

.cont-banner .container {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-banner .container .cont {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.cont-banner .container .cont h2 {
  font-size: 28px;
  font-weight: 550;
  color: #539A00;
  margin-bottom: 50px;
}

.cont-banner .container .cont img {
  width: 100%;
}

.cont-banner .container .cont .text {
  margin-top: 32px;
  line-height: 34px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.cont-banner .container .cont .title1 {
  margin: 100px 0 0;
}

.cont-banner .container .cont .text1 {
  margin-top: 32px;
  line-height: 34px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 50px;
}

.cont-banner .container .cont .title2 {
  margin: 180px 0 0;
  margin-bottom: 30px;
}

.cont-banner .container .cont .text2 {
  margin-top: 32px;
  line-height: 34px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 30px;
}

.cont-banner .container .cont .title3 {
  margin: 180px 0 0;
}

.cont-banner .container .cont .text3 {
  margin-top: 32px;
  line-height: 34px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 50px;
}

.cont-banner .container .cont .title4 {
  margin: 190px 0 0 0;
}

.cont-banner .container .cont img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cont-banner .container .cont .text4 {
  margin-top: 32px;
  line-height: 34px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 50px;
  margin: 0 auto;
}

.cont-banner .container .last {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.cont-content {
  margin-top: 30px;
  margin-bottom: 55px;
}

.cont-content .container {
  position: relative;
}

.cont-content .container .title02 {
  padding-top: 40px;
  font-size: 36px;
  font-weight: 600;
}

.cont-content .container .title02::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  background: #96c11f;
  border-radius: 50%;
}

.banner02 {
  position: relative;
  width: 100%;
  height: 520px;
  margin-bottom: 100px;
}

.banner02 .img {
  background: url(../img/img5.png);
  position: absolute;
  z-index: -100;
  height: 100%;
  top: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.banner02 .img::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner02 .container {
  height: 100%;
}

.banner02 .container ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner02 .container ul li {
  min-width: 175px;
  padding: 16px 10px 12px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

#content2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#content2 .container .cont {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

#content2 .container .cont .title {
  font-size: 28px;
  font-weight: 550;
  color: #539A00;
  margin-bottom: 50px;
}

#content2 .container .cont .text {
  margin-top: 32px;
  line-height: 34px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

#content2 .container .cont.last {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#content2 .container img {
  margin-bottom: 20px;
}

#content2 .cont-banner .container .title6 {
  margin: 100px 0 0;
  font-size: 28px;
  font-weight: 550;
  color: #539A00;
}

#content2 .cont-banner .container img {
  margin-bottom: 20px;
}

#content2 .cont-banner .container .text6 {
  margin-top: 32px;
  line-height: 34px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 30px;
}

#content2 .cont-content .container .title7 {
  margin: 195px 70px 0 0;
  font-size: 28px;
  font-weight: 550;
  color: #539A00;
  margin-bottom: 50px;
}

#content2 .cont-content .container img {
  margin-bottom: 20px;
}

#content2 .cont-content .container .text7 {
  margin-top: 32px;
  line-height: 34px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
#nav{
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
  background:#f2f1de;
}
#nav .swiper-slide{
  
  width:33.33% !important;
}
#nav .swiper-slide a{
  position: relative;
  display: block;
}
#nav .swiper-slide span{
  position: absolute;
  left: 50%; top:50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color:#fff;
  font-weight: bold;
}
.img{
  height: 314px;
  background : url(../img/slide1.jpg) no-repeat center;
  background-size : cover;
}
#nav .swiper-slide:nth-child(1) .img{
  background : url(../img/slide1.jpg) no-repeat center;
  background-size : cover;
}
#nav .swiper-slide:nth-child(2) .img{
  background : url(../img/slide2.jpg) no-repeat center;
  background-size : cover;
}
#nav .swiper-slide:nth-child(3) .img{
  background : url(../img/slide3.jpg) no-repeat center;
  background-size : cover;
}
#nav .swiper-slide:nth-child(4) .img{
  background : url(../img/slide4.jpg) no-repeat center;
  background-size : cover;
}
#nav .swiper-slide:nth-child(5) .img{
  background : url(../img/slide5.jpg) no-repeat center;
  background-size : cover;
}
#nav .swiper-slide:nth-child(6) .img{
  background : url(../img/slide6.jpg) no-repeat center;
  background-size : cover;
}
#nav .swiper-slide:nth-child(7) .img{
  background : url(../img/slide7.jpg) no-repeat center;
  background-size : cover;
}
.swiper-scrollbar{
  position: absolute !important;
  z-index: 50;
  border-radius: 0;
  background-color: transparent !important;
  right: 30px;
  bottom: 49px;
  left: 30px;
  height: 22px;
}
.swiper-scrollbar-drag{
  background:#97c222 !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.swiper-scrollbar:before{
  content : '';
  position: absolute !important;
  width:100%;
  height:1px;
  top:50%;
  left:0;
  background:#ccc;
}

/* 복붙부분 */
.ul1 {
  margin-right: -15px;
  margin-left: -15px;
  font-size: 0;
}
.ul1 li{
  
  display: inline-block;
  font-size: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.ul1 li a{
  color:#333;
}
.ul1 li:nth-child(5) a{
  color:#96c11f;
  font-weight: 600;
}
.ul1 li:nth-of-type(6) a{
  color:#ff6216;
  font-weight: 600;
}
.ul1 li{
  position: relative;
}
.ul1 li:before{
  content:'';
  position: absolute;
  left: 0; top: 2px;
  width:1px; height:15px;
  background:#ccc;
}
.ul1 li:nth-of-type(1)::before{
  width:0;
}
.ul1 li:nth-of-type(6)::before{
  width:0;
}
.ul1 br~li{
  margin-top: 15px;
}

.ul2{
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 33px;
  font-size: 0;
}
.ul2 li{
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  font-size :14px;
  line-height: 25px;
  color:#666;
}
.ul2 li a{
  color:#666;
}

.ul2 li:first-child{
  font-weight:600;
}

#footer .container p{
  margin-top: 30px;
}

  
#footer{
  border-top:1px solid #e8e8e8;
}
#footer .container{
  position: relative;
  padding: 37px 40px 41px;
}
.socials{
  position: absolute;
  right:40px; top:100px;
}
.socials li{
  display: inline-block;
}
.family-site{
  position: absolute;
  right: 40px;
  top:30px;
}
.family-site i{
  float: right;
}
.family-site a{
  display: inline-block;
  width: 240px;
  box-sizing: border-box;
  padding:10px 20px 10px 20px;
  border: 2px solid #e8e8e8;
  border-radius: 50px;
  color:#666;
  font-size: 14px;
}


/*# sourceMappingURL=style.css.map */