<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout27</title>
    <style>
        *{margin: 0; padding: 0;}

    </style>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <header id="header"></header>
            <section id=""></section>
            <section id=""></section>
            <section id=""></section>
            <section id=""></section>
            <footer id="footer"></footer>
        </div>
    </div>
</body>
</html>