<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        *{margin: 0; padding: 0;}
        body{background-color: #90caf9;}
        #wrap {width: 700px; margin: 0 auto; font-size: 30px; color: #fff; text-align: center; }
        #header {width: 700px; height: 149px; line-height: 150px; background-color: #64b5f6;}
        #contents {width: 700px; height: 703px; line-height: 703px; background-color: #42a5f5;}
        #foorer {width: 700px; height: 149px; line-height: 149px; background-color: #85c5f8;}
    </style>
</head>
<body>
    <div id="wrap">
        <div id="header">header</div>
        <div id="contents">contents</div>
        <div id="foorer">foorer</div>
    </div>
</body>
</html>